/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: white;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
/*
        skeleton: Straight

        <div class='straight-container'>
            <h2 class='straight-header'>Straight to the point...</h2>
            <div class='question-container'>
                <div class='question-text question-text-Who'>
                    Who?
                </div>
                <div class='question-text question-text-What'>
                    What?
                </div>
            </div>
            <p class='peek-text'>**Text to display**</p>
        </div>
*/
.straight-container {
  position: relative;
  bottom: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.straight-container h2 {
  font-size: 25px;
}
.straight-container .question-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.straight-container .question-container .question-text {
  font-size: 15px;
  height: 50px;
  width: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.straight-container .peek-text {
  font-size: 30px;
  height: 40px;
}
.straight-container .see-more {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  opacity: 0.6;
  background-color: #FFFFFF;
  margin-top: 50px;
}
.straight-container .see-more span {
  font-size: 15px;
}
.straight-container .see-more div {
  width: 30px;
}
.straight-container .see-more div img {
  width: 100%;
  height: 100%;
}
.see-more:hover {
  opacity: 0.9;
}
/*
        skeleton:

        <div class='main-questions-container'>

            <div className="main-question main-question-Who">

                <p>Q: {info.question}</p>
                <div className = "main-question-answer">
                    <p>A: {info.answer}</p>
                </div>

            </div>

            ...

        </div>

*/
.container {
  height: 600px;
}
.main-questions-container {
  background-color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
.main-questions-container .main-question {
  background-color: pink;
  width: 70%;
  margin-bottom: 10px;
}
.main-questions-container .main-question .main-question-answer {
  margin-left: 25px;
}
/*
        skeleton: LogoLink

        <a class='logo-link-container' target='_blank' href={linkSrc}>
            <div>
                <img src={logoSrc} />
            </div>
            <p>{textToDisplay}</p>
        </a>

*/
.logo-link-container {
  height: 40px;
  display: flex;
  justify-content: float-left;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.logo-link-container p {
  margin: auto 0;
  height: 20px;
}
.logo-link-container div {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.logo-link-container div img {
  width: 100%;
  height: 100%;
}
/*
        skeleton: List

        <div class='list'>
            <h4>{headerText}</h4>
            <ul>
                <li>{listItems[0]}</li>
                ...
            </ul>
        </div>
    */
.list {
  margin-left: 20px;
  padding-bottom: 20px;
}
.list h4 {
  font-size: 20px;
}
.list ul {
  margin-left: 20px;
  list-style-type: circle;
}
.list ul li {
  padding-top: 10px;
  font-size: 13px;
}
#particles-js {
  background: #add8e6;
  height: 101vh;
}
/*
        skeleton: Header

        <header className='header'>
            <h2 classList='name'>Hudson Chamberlain</h2>
            <div class='link-container>
                <div class='link-Home'>Home</div>
                <div class='link-Projects>Projects</div>
                <div class='link-Articles'>Articles</div>
            </div>
        </header>
    */
.header-container {
  background-color: orange;
}
header {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
header .link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-right: 10px;
}
header h2 {
  font-size: 20px;
  margin-left: 10px;
}
/*
        Skeleton:

        <footer>

            <div className="top-footer">
                <div/> // empty for spacing
                <div> // for name
                    Hudson Chamberlain
                </div>
                <div className="links-footer">
                    <div className="link">Home</div>
                    <div className="link">Projects</div>
                    <div className="link">Articles</div>
                </div>
            </div>

            <div className="bottom-footer">
                <p className="copyright">&copy Hudson Chamberlain 2020</p>
            </div>

        </footer>

    */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  background-color: green;
}
footer p {
  font-size: 1rem;
  margin-top: 20px;
}
footer .top-footer {
  width: 100%;
}
footer .top-footer .links-footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
