.container {
    color: white;
    background-color: #2A3640;

    margin: 0 auto;
    padding: 25px 75px;

    .main-container {
        h2 {
            text-decoration: underline;
            color: #BFA169;
        }

        p {
            padding: 25px;
            width: 85%;
        }

        padding-bottom: 25px;
    }
}

.about-me-container {
    h3 {
        padding-left: 25px;
        font-size: 20px;
    }
    .familiar-container {
        padding: 0 25px;

        .tech-buttons {
            .flex-container(space-evenly, center);
            flex-direction: row;

            // border: 3px solid orange;

            .tech-button {
                border:3px solid orange;
                width: 50px;
                font-size: 14px;
            }
        }

        .tech-container {
            border: 2px solid red;
        }

        .familiar {
            padding: 25px 25px;
            padding-bottom: 0;
            h4 {
                font-size: 16px;
            }
            ul {
                list-style-type: circle;
                padding-left: 35px;
                li {
                    font-size: 12px;

                    span {
                        font-size: 14px;
                    }
                }
            }
            
        }
    }
}

.chart-header {
    // border: 3px red solid;
    color: #BFA169;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0;
}

.title-container {
    // border: 2px red solid;
    display: flex;
    justify-content: center;
}

.container .main-container .chart-title {
    text-decoration: none;
    font-size: 2.5rem;
    font-style: italic;
}

.web-tech-chart-container .chart-header {
    margin-top: 15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar {
    overflow: hidden;
}
