/*
        skeleton: Header

        <header className='header'>
            <h2 classList='name'>Hudson Chamberlain</h2>
            <div class='link-container>
                <div class='link-Home'>Home</div>
                <div class='link-Projects>Projects</div>
                <div class='link-Articles'>Articles</div>
            </div>
        </header>
    */

.header-container {
    background-color: #2A3640;
}

header {
    // border: 2px red solid;
    background-color: #090A0D;
    .flex-container(space-between, center);
    height: 50px;

    color: #D9B471;

    .link-container {
        .flex-container(space-evenly, center);
        width: 30%;
        padding-right: 10px;
        
    }

    h2 {
        // border: 2px solid orange;
        font-size: 18px;
        margin-left: 20px;
        height: 20px;
    }
}

