nav {

    .flex-container(space-around, center);
    width: 40%;

    margin: 0 auto;

    .img-container {
        width: 50px;
    }

    a {
        font-size: 1.5rem;
        text-decoration: none;
        color: black;

        margin: auto 0;
        padding: 20px;

        &:hover {
            color: pink;
        }
    }

}

.links-container {
    .flex-container(space-around, center);
    width: 25%;
    margin: 0 auto;

    .logo-container {
        width: 75px;
    }
}