/* 
    <div class='projects-container main-container'>
        <h2>Projects</h2>
        <p>Below are my hobby projects. Each one has a description and a list of technologies used when developing.</p>
        <div class='all-projects-container'>
            <div class='project'>
                <div class='project-img-container'>
                    <img src={project.imgsrc} />
                </div>
                <div class='project-info-container'>
                    <h3>{project.title}</h3>
                    <p>{project.desc}</h3>
                    <h4>Technologies</h4>
                    <ul>
                        <li>{project.technologies[i]}</li>
                        ...
                    </ul>
                </div>
            </div>

            ...

        </div>
    </div>
*/

.projects-container {

    h2 {
        margin-top: 30px;
    }

    .all-projects-container {
        .flex-container(space-between, left);
        flex-wrap: wrap;
        flex-direction: column;
        width: 70%;
        margin-left: 5%;

        .project {
            .flex-container(space-between, center);
            flex-direction: row;

            margin-bottom: 30px;

            .project-img-container {
                width: 150px;
                // border: 3px red solid;
                height: 150px;
                // border-radius: 10px;
            }

            .project-info-container {
                width: 75%;

                h3 {
                    font-size: 2rem;
                }

                ul {
                    padding-left: 40px;
                    list-style: circle;
                    li {
                        font-size: 1.6rem;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}